.skinImg {
  width: 700px;
  height: 500px;
  background-image: url("https://c1.wallpaperflare.com/preview/332/555/799/cosmetic-skincare-female-natural.jpg");
  background-size: cover;
  border-radius: 20px;
  margin: 10px;
  font-family: "Ephesis", cursive;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.homeImg {
  background-image: url("https://rare-gallery.com/thumbs/742465-Interior-Sofa-Wall.jpg");
  background-size: cover;

  border-radius: 20px;
  margin: 10px;
  font-family: "Ephesis", cursive;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 700px;
  height: 350px;
  color: white;
}
.links {
  display: flex;
  flex-direction: column;
  font-family: "Ephesis", cursive;
  font-size: 24px;
  color: rgb(8, 8, 74);
}
.cartText {
  color: gray;
  font-family: "Ephesis", cursive;
  font-size: 54px;
  text-align: center;
}
